*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80vw;
    background-color: rgb(0, 0, 0);
    color: white;
    
}
img.ramy {
    width: 400px;
    padding: 25px 0;
    border-radius: 100px;
}

header {
    text-align: center;
    border-radius: 15px;
    margin-top: 15px;
    padding: 20px 0;
    background-color: yellow;
    color: black;

}

p{
    padding: 5px;
    font-weight: 400;
    font-size: 1rem;
}

section {
    display: flex;
    flex-direction: column;
   align-content: space-around;
}
main h2 {
    padding: 10px 0;
}

main h3 {
    padding: 5px;
}

main ol {
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
}
main li {
    text-align: center;
    padding-top: 9px;
    background-color: yellow;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

main details {
    text-align: center;
    background-color: yellow;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-bottom: 8px;
    margin-bottom: 10px;
}

div.contain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

main img.mens-phys-img {
    width: 200px;
    border-radius: 50px;
}

#cbum {
    width: 200px;
    border-radius: 50px;
}

section.flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

iframe {
    width: 400px;
    padding: 15px;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
}
table {
    margin-bottom: 25px;
    margin-inline: auto;
}
tr{
    padding: 10px;
}

td {
    padding: 3px;
}

footer {
    margin-bottom: 30px;
} 

section > a {
    color: #ffff;
    text-decoration: none;
}

section > a:hover {
    color: rgba(255, 255, 0, 0.726);
}

*::-webkit-scrollbar {
    width: 18px;
  }

  *::-webkit-scrollbar-track {
    background: #000000;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #fff705;
    border-radius: 10px;
    border: 3px none #000000;
  }

